PORT = 8000

# Config File Path use this as default
ConfigFilePath = "./config/mcpConfig.json"

# Password has to be setup here and specified to RavenOne > AI Models > MCP Server, the API Key settings
SecretPassword = "your_secret_password"
